<!DOCTYPE html>
<html>
<head>
    <title>Distance Matrix Service</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbOivdgwkz7YrAoyozKQCwl37HhEjqV-k&callback=initMap&libraries=&v=weekly"
            defer></script>
    <style type="text/css">
        #right-panel {
            font-family: "Roboto", "sans-serif";
            line-height: 30px;
            padding-left: 10px;
        }

            #right-panel select,
            #right-panel input {
                font-size: 15px;
            }

            #right-panel select {
                width: 100%;
            }

            #right-panel i {
                font-size: 12px;
            }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
            width: 50%;
        }

        #right-panel {
            float: right;
            width: 48%;
            padding-left: 2%;
        }

        #output {
            font-size: 11px;
        }
    </style>
    <script>

        var op01 = 0
        var op02 = 0

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);

                alert("loc1" + op01);

            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            op01 = position.coords.latitude;
            alert("loc2" + op01);
            document.getElementById("demo").innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
            //op01 = position.coords.latitude;
            //op02 = position.coords.longitude;
        }
       op01 = 1.3609234
      op02 = 103.8741148

        function initMap() {
            
            
            getLocation()
            
            const bounds = new google.maps.LatLngBounds();
            const markersArray = [];
            const origin1 = { lat: 1.4423982331211502, lng: 103.7860177438333 };
            const origin2 = "Republic Polytechnic";
            const destinationA = "200030";
            const destinationB = { lat: op01, lng: op02 };
            const destinationIcon =
                "https://chart.googleapis.com/chart?" +
                "chst=d_map_pin_letter&chld=D|FF0000|000000";
            const originIcon =
                "https://chart.googleapis.com/chart?" +
                "chst=d_map_pin_letter&chld=O|FFFF00|000000";
            const map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 55.53, lng: 9.4 },
                zoom: 10,
            });
            const geocoder = new google.maps.Geocoder();
            const service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix(
                {
                    origins: [origin1],
                    destinations: [destinationB],
                    travelMode: google.maps.TravelMode.DRIVING,
                    unitSystem: google.maps.UnitSystem.METRIC,
                    avoidHighways: false,
                    avoidTolls: false,
                },
                (response, status) => {
                    if (status !== "OK") {
                        alert("Error was: " + status);
                    } else {
                        const originList = response.originAddresses;
                        const destinationList = response.destinationAddresses;
                        const outputDiv = document.getElementById("output");
                        outputDiv.innerHTML = "";
                        deleteMarkers(markersArray);

                        const showGeocodedAddressOnMap = function (asDestination) {
                            const icon = asDestination ? destinationIcon : originIcon;

                            return function (results, status) {
                                if (status === "OK") {
                                    map.fitBounds(bounds.extend(results[0].geometry.location));
                                    markersArray.push(
                                        new google.maps.Marker({
                                            map,
                                            position: results[0].geometry.location,
                                            icon: icon,
                                        })
                                    );
                                } else {
                                    alert("Geocode was not successful due to: " + status);
                                }
                            };
                        };

                        for (let i = 0; i < originList.length; i++) {
                            const results = response.rows[i].elements;
                            geocoder.geocode(
                                { address: originList[i] },
                                showGeocodedAddressOnMap(false)
                            );

                            for (let j = 0; j < results.length; j++) {
                                geocoder.geocode(
                                    { address: destinationList[j] },
                                    showGeocodedAddressOnMap(true)
                                );
                                outputDiv.innerHTML +=
                                    originList[i] +
                                    " to " +
                                    destinationList[j] +
                                    ": " +
                                    results[j].distance.text +
                                    " in " +
                                    results[j].duration.text +
                                    "<br>";
                            }
                        }
                    }
                }
            );
        }

        function deleteMarkers(markersArray) {
            for (let i = 0; i < markersArray.length; i++) {
                markersArray[i].setMap(null);
            }
            markersArray = [];
        }

    </script>
  
</head>
<body>

    <div id="right-panel">
        <div>
            <strong>Results</strong>
            <p id="demo"></p>
        </div>
        <div id="output"></div>

    </div>
    <div id="map"></div>


</body>
</html>
